{% extends "lista.html.twig" %}


{% block header %}<i class="icon_group"></i> Usuarios {% endblock %}

{% block  miga %}
    <li><a href=""><i class="icon_group"></i> Usuarios  </a></li>
{% endblock %}

{% block table_name%} Usuarios {% endblock %}

{% block url_add %} {{ path('add_user') }} {% endblock %}

{% block table %}
    <thead>
        <tr>
          <th><i class=""></i> Nombre completo</th>
          <th><i class=""></i> Provincia</th>
          <th><i class=""></i> Username</th>
          <th><i class=""></i> Roles</th>
          <th><i class="icon_cogs"></i> Actions</th>
        </tr>
      </thead>
      <tbody class="buscar">
      {% for obj in users %}
          <tr>
            <th>  {{ obj.nombre }} {{ obj.apellidos }} </th>  
            <th>  {{ obj.provincia }} </th>  
            <th>  {{ obj.username }} </th>  
            <th>  {{ obj.roles|join(', ') }} </th>  
            <td>
                <div class="btn-group">
                    <a class="btn btn-info btn-xs" href="{{ path('edit_usuario', {'id': obj.id }) }}"  ><i class="icon_pencil"></i> Editar</a>
                    <a class="btn btn-danger btn-xs" href="{{ path('del_usuario', {'id': obj.id }) }}"  ><i class="fa fa-trash-o"></i> Eliminar</a>
                </div>
            </td>
          </tr>
      {% endfor %}
    </tbody>
{% endblock %}