<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Reserva UCi{% endblock %}</title>

        <link href="{{ asset('vendor/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/bootstrap-theme.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/elegant-icons-style.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/widgets.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/style-responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/jquery-ui-1.10.4.min.css') }}" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
                crossorigin="anonymous">
        </script>

        <script>
            $(document).ready(function () {
                    (function ($) {
                        $('#filtrar').keyup(function () {
                            var rex = new RegExp($(this).val(), 'i');
                            $('.buscar tr').hide();
                            $('.buscar tr').filter(function () {
                                return rex.test($(this).text());
                            }).show();
                        })
                    }(jQuery));
                });
            </script>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <section id="container" class="">
            <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="" class="logo">Reserva <span class="lite">UCi</span></a>
            <!--logo end-->

            <!--<div class="nav search-row" id="top_menu">
                <!--  search form start --
                <ul class="nav top-menu">
                <li>
                    <form class="navbar-form">
                    <input class="form-control" placeholder="Search" type="text">
                    </form>
                </li>
                </ul>
                <!--  search form end 
            </div>-->

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                <li>
                    <a href=""><i class="icon_profile"></i>{{ app.user.username }}</a>
                </li>
                <li>
                    <a href="{{ path('logout')  }}"><i class="fa fa-sign-out"></i>Salir</a>
                </li>

                <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
            </header>
            <!--header end-->

            <!--sidebar start-->
            <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                <li class="active">
                    <a class="" href="{{ path('inicio') }}">
                                <i class="icon_house_alt"></i>
                                <span>Inicio</span>
                            </a>
                </li>

                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <li>
                        <a class="" href="{{ path('listar_usuarios') }}">
                                    <i class="fa fa-user"></i>
                                    <span>Usuarios</span>
                                </a>
                    </li>
                {% endif %}
                <li>
                    <a class="" href="{{ path('listar_reservaciones') }}">
                                <i class="fa fa-tasks"></i>
                                <span>Reservaciones</span>
                            </a>
                </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
            </aside>
        </section>

        {% block content %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
