{% extends "lista.html.twig" %}


{% block header %}<i class="fa fa-tasks"></i> Reservaciones {% endblock %}

{% block  miga %}
    <li><a href=""><i class="fa fa-tasks"></i> Reservaciones   </a></li>
{% endblock %}

{% block url_add %} {{ path('add_reservacion') }} {% endblock %}

{% block table_name %} Reservaciones {% endblock %}

{% block table %}
    <thead>
        <tr>
          
          <th><i class=""></i> Origen</th>
          <th><i class=""></i> Destino</th>
          <th><i class=""></i> Fecha</th>
          <th><i class=""></i> Tipo</th>
          {% if 'USER' in app.user.roles %}
            <th><i class=""></i> Estado</th>
          {% endif %}
          <th><i class="icon_cogs"></i> Actions</th>
        </tr>
      </thead>
      <tbody class="buscar">
      {% for obj in reservaciones %}
          <tr>
            <th>  {{ obj.origen }} </th>  
            <th>  {{ obj.destino }} </th>  
            <th>  {{ obj.fecha }} </th>  
            <th>  {{ obj.tipo }} </th>  
            {% if 'ROLE_USER' in app.user.roles %}
                {% if app.user in obj.usuarios %}
                    <td> <span class="label label-success">Reservado</span> </td>
                {% else %}
                    <td> <span class="label label-danger">No reservado</span> </td>
                {% endif %}
            {% endif %}
            <td>
                <div class="btn-group">
                    {% if 'ROLE_USER' in app.user.roles %}
                        {% if app.user in obj.usuarios %}
                            <a class="btn btn-danger btn-xs" href="{{ path('reservar', {'id': obj.id }) }}" ><i class="icon_close"></i> Cancelar</a>
                        {% else %}
                            <a class="btn btn-success btn-xs" href="{{ path('reservar', {'id': obj.id }) }}" ><i class="icon_check"></i> Reservar</a>
                        {% endif %}
                    {% endif %}

                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a class="btn btn-danger btn-xs" href="{{ path('del_reservacion', {'id': obj.id }) }}" ><i class="fa fa-trash-o"></i> Eliminar</a>
                    {% endif %}
                </div>
            </td>
          </tr>
      {% endfor %}
    </tbody>
{% endblock %}